.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chat-menu {
    flex: 3.5;
}

.chat-menu--input {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chat-menu--input:focus {
    outline: none;
}

.chat-box {
    flex: 5.5;
}

.chat-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chat-box--top {
    width: 100%;
    overflow-y: scroll;
    padding: 0 10px;
}

.chat-box--bottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-message--input {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chat-submit--button {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
}

.chat-online {
    flex: 3;
}

.chat-menu-wrapper, .chat-box-wrapper, .chat-online-wrapper {
    padding: 10px;
    height: 100%;
}

.no-conversation--text {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(226, 226, 226);
    cursor: pointer;
}